<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="post" action="{% url 'postsubmit' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="num1">Num1</label>
            <input type="text" name="num1" id="">
        </div>
        <div class="mb-3">
            <label for="num1">Num1</label>
            <input type="text" name="num2" id="">
        </div>
        <div class="mb-3">
            <button type="submit">Submit</button>
        </div>
        output
        <input type="text" value="{{ output }}">






    </form>


</body>

</html>